<!-- [Subscribe to mailing list] -->
<div class="side-widget">
    <h4 class="text-uppercase">@Sitecore.Globalization.Translate.Text("EventsNextEventsTitle")</h4>
    <div class="sidebar">
        <div class="text">@Sitecore.Globalization.Translate.Text("EventsNextEventsText")</div>
        <form action="#">
            <div>
                <input class="form-control" type="email" placeholder="@Sitecore.Globalization.Translate.Text("EventsNextEventsEmailPlaceholder")" name="email">
            </div>
            <input class="btn btn-default" type="submit" value="@Sitecore.Globalization.Translate.Text("EventsNextEventsButton")">
        </form>
    </div>
</div>
<!-- [/Subscribe to mailing list] -->
